@charset "utf-8";

body {
    text-align: center;
    background-color: black;
}

h1 {
    text-size-adjust: 3mm;
    color: aliceblue;
}

#testoexemplo {
    color:aliceblue
    box-shadow: brown;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}