@charset "utf-8";

body {
    text-align: center;
}

h1 {
    text-size-adjust: 3mm;
}

#testoexemplo {
    box-shadow: brown;
    width: 300px;
    border: 15px solid green;
    padding: 50px;
    margin: 20px;
}