@charset "utf-8";

body {
    text-align: center;
    background-color: black;
}

h1 {
    text-size-adjust: 3mm;
    color: aliceblue;
}
p {
    color: azure;
}
.box p {
  color:aliceblue
    }


.linha p {
    color:red
}

body {
    display: flex;
    justify-content: top;
    align-items: center;
    height: 100vh;
    margin: 0;
}

div {
    width: 300px;
    height: 200px;
    background-color: #f30000;
    box-shadow: 10px 10px 5px #2E2E2E;
}

button {
    background-color: #24aed8; /* Cor de fundo verde */
    border: 3px; /* Remove bordas */
    color: white; /* Cor do texto branco */
    padding: 15px 32px; /* Espaçamento interno */
    text-align: center; /* Alinhamento do texto ao centro */
    text-decoration: none; /* Remove o sublinhado do texto */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Muda o cursor para um ponteiro quando passa por cima */
    border-radius: 3px;
}
